@font-face {
  font-family: "alician";
  src: url("Alician-Regular.ttf");
}

#ansFrame{
	font-size: 1.4em;
	background: #151515;
	border-radius: 4px;
	padding: 2px;
}

html{
	overflow-x: hidden;
	font-family: consolas;
	user-select: none;
}

body{
	margin: 0;
	text-align: center;
	z-index: -99;
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: url('../art/bg2.png'), #151515;
	background-size: 100%;
	background-position: 10%;
}

#discord{
	cursor: pointer;
	right: 15px;
	width: 64px;
	transition: 0.2s;
}

#discord:hover{
	width: 70px;
}

#memorizedCards{
	user-select: none;
}

#bigrid{
	overflow: hidden;
	font-size: 1.2em;
	margin: auto;
	display: grid;
	grid-template-areas:
	'a b'
	'c d'
	'e f'
	'g h'
	'i j'
	'k k'
}

.jlptbt{
	background: #333!important;
}

.jlptbt:hover{
	background: crimson!important;
	font-weight: bold;
}

#bigrid div{
	padding-top: 30px;
	padding-bottom: 30px;
}

#N1{
	grid-row-start: 6;
}

.allkana{
	background: #202020!important;
}

.allkana:hover{
	background: dodgerblue!important;
}

#custom{
	grid-row-start: 4;
	grid-row-end: 7;
	display: block;
	padding-top: 70px!important;
	background: #111;
}

#custom:hover{
	background: rebeccapurple!important;
}

#jlpt{
	height: 20vh;
}

#jlpt .okButton{
	background: #113;
	padding: 15px;
	transition: all 0.3s;
}

#jlpt .okButton:hover{
	background: #002;
}

#kanadeck .okButton{
	background: #311;
	padding: 28px;
	transition: all 0.3s;
}

#kanadeck .okButton:hover{
	background: #211;
}

#progressBar{
	background: url("../art/bg.png");
	background-size: 100%;
	background-position: 50%;
	margin: auto;
	width: 100%;
	position: absolute;
	height: 99.5vh;
	border-radius: 5px;
}


#progress{
	opacity: 0.8;
	transition: 1s;
	width: 0%;
	height: 99.5vh;
	background: dodgerblue;
	border-right: 3px dodgerblue ridge;
	z-index: -2;
	position: absolute;
}

#memocont{
	font-size: 1.6em;
	user-select: text;
	display: block;
}

.titleAndButton{
	display: grid;
	grid-template-areas:
	'a b';
	grid-template-columns: 90% 10%;

}

.titleAndButton h1{
	background: #555;
}

.titleAndButton .closebutton{
	font-size: 2em;
	background: #333;
	cursor: pointer;
}

.titleAndButton .closebutton:hover{
	background: #444;
}

#closebutton{
	display: inline-block;
}

#compar{
	font-size: 1.5em;
}

#com, #memo{
	z-index: 999;
	position: absolute;
	left: 10vw;
	width: 80vw;
	height: 80vh;
	background: #222;
	color: ghostwhite;
	top: 7vh;
	overflow: auto;
	display: none;
}

h1{
	margin: 0;
	font-size: 2em;
	color: white;
	background: #222;
	padding: 5px;
}

p{
	font-size: 0.7em;
	font-weight: bold;
}

label{
	position: absolute;
	top: 20vh;
	z-index: 999;
	display: none;
	left: 12.5vw;
	background: #222;
	cursor: pointer;
	border-radius: 10px;
	width: 76%;
	height: 50vh;
	color: white;
	font-family: 'consolas';
}

#text{
	display: none;
}

#file-input{
	position: absolute;
	top: 0;
 	width: 100%;
	height: 50vh;
  	opacity: 0;
 	display: block;
  	cursor: pointer;
}

#startid input{
	width: 33vw;
	padding: 5px;
}

#startid{
	display: none;
}

#cardId{
	border-bottom-right-radius: 5px;
	display: none;
	position: absolute;
	color: ghostwhite;
	background: #222;
	padding: 10px;
}

#b1, #b2, #b3{
	font-size: 1em;
}

h2{
	font-size: 1.3em;
	margin: 5px;
}

button{
	padding-bottom: 4px;
	font-size: 1.1em;
}

#dd{
	font-size: 1.8em;
}

.okButton{
	padding: 5px;
	font-size: 1.1em;
	display: inline-block;
	background: #222;
	color: lightgrey;
	cursor: pointer;
}

.okButton2{
	border-bottom: 2px #555 solid;
	border-right: 2px #555 solid;
	border-radius: 10px;
}

.okButton2:hover{
	color: mediumpurple;
}

.ansbu{
	position: relative;
	top: 20vh;
	padding: 10px;
	background: #222;
	color: ghostwhite;
	font-size: 1.8em;
	display: none;
}

.ansbu:hover{
	background: #222;
	cursor: pointer;
}

#ansbu1{
	color: deepskyblue;
}

#ansbu2{
	color: red;
	border-left: 1px #444 solid;
}

#qa-div{
	min-width: 100px;
	display: inline-block;
	border-radius: 10px;
	margin: auto;
	color: ghostwhite;
	position: relative;
	font-size: 3em;
	background: #111;
	border-bottom: ridge 1px dimgrey;
	border-right: ridge 2px dimgrey;
	padding-top: 20px;
	padding-left: 50px;
	padding-right: 50px;
	top: 22vh;
	cursor: pointer;
}

#goodAnswer{
	display: none;
	font-size: 0.6em;
}

#goodAnswer:hover{
	cursor: pointer;
}

#answerbox{
	display: none;
	top: 16vh;
	left: 33.3%;
	width: 32vw;
	height: 5vh;
	position: relative;
}

#answer{
	margin-top: 10vh;
	border-radius: 10px;
	text-align: center;
	height: 6vh;
	width: 100%;
	font-size: 2em;
	padding: 10px;
	font-family: consolas;
	background: #111;
	border-color: #444;
	color: ghostwhite;
}

.ansbox{
	display: none;
	background: ghostwhite;
	font-size: 2em;
	padding: 10px;
	text-align: center;
	border-radius: 10px;
	top: 17vh;
	margin: auto;
	position: relative;
}

#answerbox2{
	display: none;
	background: #222;
	color: ghostwhite;
	border-radius: 10px;
	text-align: center;
	font-size: 2em;
	padding: 10px;
	top: 20vh;
	margin: auto;
	position: relative;
}

#answerbox2:hover{
	background: #222;
	cursor: pointer;
}

#combo{
	cursor: pointer;
	text-align: right;
	display: inline-block;
	padding: 5px;
	background: #222;
	border: 1px solid #444;
	position: absolute;
	color: ghostwhite;
	top: 0vh;
	right: 0vw;
	border-bottom-left-radius: 10px;
}

.minmenu{
	padding: 5px;
}

.minmenu:hover{
	background: #333;
}

.minmenu:active{
	color: deepskyblue;
}

#top{
	cursor: pointer;
	position: fixed;
	top: 0;
	width: 64px;
	height: 64px;
	background: #111;
	border-bottom-right-radius: 25%;
	z-index: 999;
}

#top:hover{
	background: #333;
}

.menu-el{
	color: ghostwhite;
	display: inline-block;
	padding-top: 1vh;
	padding-bottom: 1vh;
	font-size: 33px;
	transition: background 0.2s;
}

#box, #box2{
	display: inline-block;
	background: #efefef;
	border-radius: 5px;
	border: 2px #222 solid;
	margin: auto;
	margin-top: 12vh;
	width: 48vw;
	margin-left: 10px;
}

#box2{
	overflow: auto;
}


@media (max-width: 1200px){
	#progressBar{
			background: rgba(0, 0, 0, 0);
	}

	body{
		background-size: 200vw;
		background-position: 25%;
	}
}


@media (min-width : 501px) and (max-width: 768px){

	body{
		background-size: 300vw;
		background-position: 0%;
	}

	#showans{
		font-size: 1.4em;
	}

	#box, #box2{
		width: 95vw;
		margin-left: -20px;
		margin-top: 2px;
	}

	#answerbox{
		width: 66vw;
		left: 14%;
	}

	#answerbox2{
		font-size: 1.5em;
	}

	#ansbu{
		font-size: 1.5em;
	}

}

@media (max-width: 500px){

	body{
		background-size: 340vw;
		background-position: 92%;
	}

	h1{
		font-size: 1.3em;
	}

	#com, #memo{
		width: 100vw;
		height: 100vh;
		top: 0vh;
		left: 0vw;
	}

	#answerbox2{
		font-size: 1.5em;
	}

	#box, #box2{
		width: 98vw;
		margin-left: -2px;
		margin-top: 2px;
	}

	#answer{
		font-size: 2em;
		height: 4vh;
	}

	#answerbox{
		width: 66vw;
		left: 14%;
	}

	#qa-div{
		font-size: 2em;
	}

	#combo{
		font-size: 0.8em;
	}

	#ansbu{
		font-size: 1.5em;
	}

	#showans{
		font-size: 1.4em;
	}

	#answer{
		font-size: 1.3em;
	}
}