/* General settings */

body {
  background: url("../art/bg2.png") fixed;
  background-size: 102%;
  margin: 0;
}

body, section {
  display: flex;
  font-size: 3vw;
  font-family: consolas;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

h1, h2, .kanji-container, .button-2{
  background-color: #111!important;
  color: #EFEFEF!important;
  padding: 6px;
  border-radius: 4px;
}


.kanji-container, h1, h2 {
  margin-top: 0.4em;
  margin-bottom: 0.3em;
  line-height: 1.2; /* Adjust line-height as needed */
}

.kanji-container {
  margin-top: 0.8em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
  border: solid 4px #222;
  text-align: center;
}

.kanji {
  color: #EFEFEF !important;
  display: inline-block;
  margin: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: 500;
}

.kanji:hover{
  background-color: #222;
}

.mastery-9 {
  color: white;
}

.mastery-0 {
  color: grey;
}

#resume-box {
  display: none;
  position: fixed;
  top: 40vh;
  font-size: 0.5em;
  text-align: center;
  border: solid 2px #CCC;
  background: #f5efef;
  border-radius: 16px;
  padding: 6px;
  user-select: none;
}

#top{
    font-size: 33px;
    color: ghostwhite;
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 64px;
    height: 64px;
    background: #111;
    border-bottom-right-radius: 25%;
    z-index: 999;
}

/* Headings */
h1, h2 {
  font-family: sans-serif;
}

h1 {
  font-size: 2em; /* Update the font size here */
}

h2 {
  font-size: 1.6em; /* Update the font size here */
}

/* Buttons */
.button-2 {
  border-radius: 4px;
  font-size: 0.9em; /* smaller font size */
  font-weight: bold;
  cursor: pointer;
  background-color: rgba(51, 51, 51, 0.05);
  border: 2px #333 solid;
  color: #333;
  line-height: 0.8em;
  padding: 0.8em;
  text-align: center;
  transition: all 200ms;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
}

.button-2:hover{
  background: #222!important;
}

#resume-box button{
  font-family: 'Lato', sans-serif;
  background: #f5efef;
  font-size: 0.8em;
  border-radius: 4px;
}

#resume-box {
    font-size: 0.7em;
    background: #222;
    color: white;
  }

@media (min-width:764px) and (max-width:1280px){

  body{
    background-size: 160%;
    background-position: 80%;
  }
}

@media (min-width:562px) and (max-width:763px){
  .kanji{
    font-size: 1.6em;
  }

  .kanji-container{
    width: 90vw;
    margin: 0;
  }

  body{
    background-size: 220%;
    background-position: 50%;
  }
}

@media (min-width:344px) and (max-width:561px){
  .kanji{
    font-size: 1.6em;
  }

  .kanji-container{
    width: 90vw;
    margin: 0;
  }

  body{
    background-size: 300%;
    background-position: 75%;
  }
}

@media (max-width:343px){
  .kanji{
    font-size: 1.6em;
  }

  .kanji-container{
    width: 90vw;
    margin: 0;
  }

  body{
    background: #444;
  }
}