body {
    font-family: Arial, sans-serif;
    color: #EFEFEF;
    background-color: #111;
    background: url("../art/bg2.png") fixed no-repeat;
    background-size: 102%;
    margin: 0;
}

#top{
    font-size: 2.3em;
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 64px;
    height: 64px;
    background: #111;
    border-bottom-right-radius: 25%;
    z-index: 999;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example, .drawing-area {
    border: 3px solid #222;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: url('../art/dot.png'), auto;
    background-color: #111;
    touch-action: none;
}

#kanji-gif {
    display: none;
    margin: auto;
}

#show-button {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

#show-button:hover {
    background-color: #f0eAeA;
}

canvas {
    border: 3px solid #222;
    background: #EEE;
}

button {
    font-size: 1.5em;
}