body {
    font-family: Arial, sans-serif;
    color: #EFEFEF;
    background-color: #111;
    background: url("../art/bg2.png") fixed, #111;
    background-size: 102%;
    margin: 0;
}

#tmp_canvas {
    position: absolute;
    left: 10px; right: 0;
    bottom: 0; top: 10px;
    background-color: rgba(0, 0, 0, 0);
}

#top{
    text-align: center;
    cursor: pointer;
    position: fixed;
    top: 0;
    width: 64px;
    height: 64px;
    background: #111;
    border-bottom-right-radius: 25%;
    z-index: 999;
}

.menu-el{
    color: ghostwhite;
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 33px;
    transition: background 0.2s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.example, #sketch {
    position: relative;
    border: 3px solid #222;
    border-radius: 4px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    cursor: url('../art/dot.png'), auto;
    background-color: #111;
    touch-action: none;
}

#kanji-gif {
    display: none;
    margin: auto;
}
    
#show-button {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
    width: 150px;
    height: 150px;
}

#show-button:hover {
    background-color: #f0eAeA;
}

canvas {
    border: 3px solid #222;
    background: #EEE;
}

button {
    font-size: 1.5em;
}

@media (min-width:764px) and (max-width:1280px){

  body{
    background-size: 210%;
    background-position: 80%;
  }
}

@media (min-width:562px) and (max-width:763px){

  body{
    background-size: 310%;
    background-position: 50%;
  }
}

@media (min-width:344px) and (max-width:561px){

  body{
    background-size: 350%;
    background-position: 75%;
  }
}

@media (max-width:343px){

  body{
    background: #444;
  }
}