body{
	margin: 0;
	background: #000;
	font-family: arial;
}

table{
	width: 100%;
	font-size: 1.2em;
}

#realtable tr:nth-child(2n){
	background: #333;
}

#realtable tr{
	background: #444;	
}

#realtable tr:active{
	background: white;
	color: black;
}

#realtable{
	overflow: auto;
	max-height: 50vh;
	user-select: none;
	cursor: pointer;
}

button{
	padding: 5px;
	border-radius: 5px;
	border: 2px #1E90FF ridge;
	color: white;
	background: #1E90FF;
	width: 100%;
	font-family: arial;
	font-size: 1em;
}

button:hover{
	background: #2EA0FF;
}

#nd{
	transition: background 0.2s;
	height: 50vh;
	font-size: 2em;
	cursor: pointer;
}

#main{
	background: #222;
	margin: auto;
	width: 100%;
	color: white;
	text-align: center;
}

#file-input{
	position: absolute;
	top: 0;
 	width: 100%;
	height: 50vh;
  	opacity: 0;
 	display: block;
  	cursor: pointer;
}

#file-input2{
	display: none;
}

input, textarea{
	width: 90%;
	height: 25px;
	font-size: 1.1em;
}

label{
	transition: background 0.2s;
	background: #111;
	font-size: 2em;
	display: block;
	position: relative;
	font-family: arial;
	text-align: center;
	height: 50vh;
}

label:hover{
	background: #222;
	border-color: #444;
}

table label{
	padding: 6px;
	border-radius: 5px;
	border: 1px dodgerblue ridge;
	color: white;
	background: dodgerblue;
	font-family: arial;
	height: 20px;
	font-size: 1.1em;
}

#transferarea{
	margin-top: 2vh;
	height: 70vh;
	font-size: 2em;
	margin-bottom: 2vh;
}

.transbutton{
	width: 40%;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 2em;
	margin-bottom: 2vh;
}